.h-clase1 {color: rgba(137, 43, 226, 0.833);
    font-size: 20px;;
}

h1 {color: rgba(241, 226, 10, 0.985);
    background-color: aquamarine;
}

#pie {border: 1px solid rgba(157, 255, 0, 0.866);
    width: 300px;
    background-color: beige;
    
}

.div-img {
border: 3px solid rgba(184, 215, 7, 0.816);   
display: flex; 
}

main h4 {
    color:rgb(233, 102, 50)
}


main h4 ul {
    color:rgba(255, 102, 0, 0.896)
}

#form {
    justify-content: center;
    align-items: center;
}