<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <link rel="stylesheet" href="styles.css">
        <h1>Proyecto Descubriendo el Mundo</h1>
    
    <nav>
        <ul>
            <li>
                <a href="/index.html">Inicio</a>
            </li>
            <li>
                <a href="/about.html">About</a>
            </li>
            <li>
                <a href="/blog.html">Blog</a>
            </li>
            <li>
                <a href="/contact.html">Contact</a>
            </li>
        </ul>
    </nav>
    </header>
    
<hr>

    <div>
        <article>
            <img src="/images/mate-1920-4.jpg"  alt="" width="560px">
             <h2>
                Como buen argentin@. LLevá tu mate a todas partes
                ¿Cómo preparar el mejor mate?
            </h2>
            <ol>
                <li>
                    Calentá agua, luego colocala en un termo. Tené en cuenta que el agua no debe estar tibia ni dejarse hervir, para tomar “buenos mates” la temperatura del agua aconsejable es de 70 a 80°C.
                </li><li>
                    Vertí yerba dentro del mate hasta alcanzar las tres cuartas partes del mismo. Si querés, para que los primeros mates no sean tan amargos, agregá una o dos cucharaditas de azúcar.
                </li><li>   
                    Tapá con una mano la boca del mate, invertilo y agítalo unos instantes. Volvé el mate a su posición normal. Cuidá que la yerba quede recostada sobre una de las paredes del mate y además que se forme un pequeño agujero.
                </li><li> 
                    Para comenzar el mate, colocá agua tibia suavemente en el hueco que quedó en la yerba. Iniciá el mate con agua tibia, eso permitirá que no se queme la yerba y pierda el gusto.  Dejar reposar unos instantes.
                </li><li>  
                    Introducí la bombilla en el hueco húmedo.
                </li><li>  
                    Una vez hechos estos pasos podés comenzar a cebar el mate.
                </li><li>  
                    Procurá no mover la bombilla y cebar siempre en el mismo lugar, esto permitirá que no moje toda la yerba y así disfrutar más tiempo de unos exquisitos mates!
                </li>
        </article>
        </div>

</body>
</html>