* {
   /*  Margin:0;
    padding:0;
     */
     font-family: 'Caveat', cursive;
}



.h-clase1 {color: rgba(137, 43, 226, 0.833);
    font-size: 20px;

}

h1 {color: rgba(241, 226, 10, 0.985);
    background-color: aquamarine;
    text-align: center;
}

body a {
    color:rgba(10, 2, 79, 0.833);
    text-align: center;
}

.divImg {
border: 0px solid rgba(184, 215, 7, 0.816);   
display: flex; 
}

body header nav ul {
    color:rgb(0, 0, 0);
    font-size: 21px;
    display:flex;
    justify-content:space-evenly;
}


main h4 ul {
    color:rgba(255, 102, 0, 0.896);
    font-size: 20px;
}



ul {
    list-style-type: none;
    }


#form {
        justify-content: center;
        align-items: center;
    }



.pruebaVer {text-decoration: none;
display: flex;
flex-direction:row;
justify-content: flex-start;}

body {

}

.index-header